/* ----------------- */
/* ------ 3D ------- */
/* ------ 3D ------- */
/* ------ 3D ------- */
/* ------ 3D ------- */
/* ----------------- */
/* Adapted from: https://3dtransforms.desandro.com/perspective */
.ThreeD-Container {
    width: 200px;
    height: 200px;

    /* perspective property */
    perspective: 600px;
}

.Card {
    border: solid 5px green;
    height: 100%;
    width: 100%;

    transform: rotateY(0deg);
    transition: 0.5s transform ease;
}
.Card:hover {
    transform: rotateY(45deg);
}

.Center {
    display: grid;
    place-items: center;
}