/* ----------------- */
/* ------ 3D ------- */
/* ------ 3D ------- */
/* ------ 3D ------- */
/* ------ 3D ------- */
/* ----------------- */
/* Adapted from: https://3dtransforms.desandro.com/perspective */
.ThreeD-Container {
    perspective: 600px;
}

.Card {
    border: solid 5px green;
    height: 100%;
    width: 100%;

    
    /* cursor: pointer; */

    /* Have subsequent children inherit parent’s (this element's) perspective */
    transform-style: preserve-3d;
}
.Card-Content {
    position: relative;
    transition: 0.5s transform ease;
}
/* Stop Glitchy-ness: https://youtu.be/FeJEEE3zc4U */
/* On .Card hover flip the .Card-Content's */
.Card:hover .Card-Content{
    transform: rotateY(180deg);
}


.Card-Face {
    height: 100%;
    width: 100%;

    /* To position the faces in 3D space, we need to reset their positions in 2D with position: absolute */
    position: absolute;

    /* Hide the back-side of the faces when they are faced away from the viewer */
    backface-visibility: hidden;
}
.Card-Face-Front {
    background: paleturquoise;
}

/* To flip .card__face--back, we add a basic 3D transform of rotateY(180deg). */
.Card-Face-Back {
    background: deepskyblue;
    transform: rotateY(180deg);
}
/* .Card.is-flipped {
    transform: rotateY(180deg);
    
} */


/* 
.Center {
    display: grid;
    place-items: center;
} */